@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Brawler&family=Merriweather:ital,wght@1,300&display=swap');

body{
	background-color: black;
  background-image: url('Images/background_1.jpg');
  background-size: cover;
  background-attachment: fixed;
}
h3{
  font-family: 'Alegreya SC', serif;
	color: #ededed;
}
h4,p, li{
  font-family: 'Merriweather', serif;
	color: #ededed;
}

/* navigation bar */
.navbar{
  background: #808080;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 10%;
  z-index: 4;
}
.navbar img{
  width: 23%;
  height: 100%;
}
.navbar ul{
  list-style: none;
  float: right;
  display: inline-block;
}
.navbar ul li{
  display: inline;
  margin-right: 34px;
}
.navbar ul li button{
  position: relative;
  background-color: #808080;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid;
	border-color: transparent;
	transition: 0.8s ease;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}
.navbar #survey{
  background-color: black;
  color: white;
  cursor: default;
}
.navbar button:not(#survey):hover{
  background-color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: white;
}

/*Survey*/
.survey{
  margin: auto;
  position: relative;top: 90px;
  width: 70%;
  height: 400px;
  background-color: #525252;
  border-radius: 30px;
  text-align: center;
}
.survey h4, .survey button{
  margin: 10px 50px 10px 50px;
  position: relative;top: 40px;
}
.survey button{
  background-color: #40E0D0;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid;
	border-color: transparent;
	transition: 0.8s ease;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}
.survey button:hover{
  background-color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: white;
}

/*Survey Form*/
.surveyform{
	margin: auto;
	position: relative;top: 90px;
  width: 70%;
  height: 1670px;
  background-color: #525252;
  border-radius: 30px;
  text-align: center;
	position: relative;top: 110px;
}

/* feedback */
.feedback{
  margin: auto;
  position: relative;top: 120px;
  width: 70%;
  height: 570px;
  background-color: #525252;
  border-radius: 20px;
  text-align: left;
}
.feedback h3, .feedback textarea{
  margin: 10px 0 30px 50px;
}
.feedback textarea{
  width: 80%;
  height: 20%;
  resize: none;
  border: 2px solid black;
}
.feedback button{
  position: relative;bottom: 77px;left: 14px;
  background-color: #00a86b;
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 2px solid black;
	transition: 0.8s ease;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Merriweather', serif;
}
.feedback button:hover{
  background-color: black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  border: 2px solid white;
  color: white;
}
.feedback p{
  text-align: left;
  margin: 10px 30px 0 50px;
}
.feedback .name{
  font-weight: bolder;
}
.feedback .response{
  margin-bottom: 30px;
}

/* footer */
.footer{
	background-color: black;
  color: white;
  width: 1348px;
	position: relative;
  width: 100%;
  height: auto;
  top: 150px;
  margin:0 auto;
  overflow: hidden;
  margin-bottom: inherit;
  border-radius: 4%;
}
.footer #logofooter{
  width: 23%;
  height: 100%;
  position: relative;bottom: 40px
}
.footer ul li{
  list-style: none;
}
.footer ul li a{
  color: white;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}
.footer ul{
  padding-left: 10px;
  display: inline-block;
}
.footer p{
  padding-left: 10px;
}
.explore{
  position: relative;left: 200px;bottom: 18px;
}
.explore li button{
  background-color: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  font-family: 'Merriweather', serif;
}
.explore #surveyfooter{
  background-color: #444444;
  cursor: default;
}
.explore button:hover{
  background-color: #444444;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  color: white;
}
.visit{
  position: relative;left: 375px; bottom: 80px;
}
.visit li a{
  position: relative;bottom: 10px;
}
.visit li img{
  width: 20px;
  height: 20px;
  position: relative;bottom: 5px;
}
.legal{
  position: relative;left: 440px;bottom: 86px;
}
.legal li a{
  position: relative;bottom: 14px;
}
#copyright{
  text-align: center;
}

/* animation */
.navbar{
  animation: animate 0.5s;
}
@keyframes animate{
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
